<% if(theme.gitment.enable) { %>
    <div id="gitment_title" class="gitment_title"></div>
    <div id="container" style="display:none"></div>
    <link rel="stylesheet" href="https://imsun.github.io/gitment/style/default.css">
    <script src="https://imsun.github.io/gitment/dist/gitment.browser.js"></script>
    <script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
    <script>
      const myTheme = {
        render(state, instance) {
          const container = document.createElement('div');
          container.lang = "en-US";
          container.className = 'gitment-container gitment-root-container';
          container.appendChild(instance.renderHeader(state, instance));
          container.appendChild(instance.renderEditor(state, instance));
          container.appendChild(instance.renderComments(state, instance));
          container.appendChild(instance.renderFooter(state, instance));
          return container;
        }
      }
    
      function showGitment() {
        $("#gitment_title").attr("style", "display:none");
        $("#container").attr("style", "").addClass("gitment_container");
        var gitment = new Gitment({
          id: decodeURI(window.location.pathname),
          theme: myTheme,
          owner: 'xuhongliweb',
          repo: 'https://github.com/xuhongliweb/xuhongliweb.github.io.git',
          oauth: {
            client_id: '45f38b8d1e421180e3b3',
            client_secret: '44abcbf7541af9e64402c54fbc532cf55db23a6a'
          }
        });
        gitment.render('container');
      }
    
      showGitment();
    </script>
    <% } %>